header{
    width: 100%;
    /*position: fixed;
    z-index: 1;*/
    margin-top: -30px;
    padding-top: 5px;
}
.cartas {
  padding: 2px 2px 2px 2px;
  align-items: center;
margin: 2%;
text-align: center;

}
.cartaEstudiante{
    border-color: blue;
}
.p.cartaEstudiante{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:blue;
    text-align: center;
    font-weight: 600;
}
.cartaTrainee{
    border-color: aqua;
}
.cartaJunior{
   
    border-color: yellow;
   
}
.p{
    color:blue;
}
.especial {
    color: red;
  }
  .lineaBotones{
    padding: 20px 0px 0px 0px;
  }
footer{
    margin-top: 5%;
}

.navFooter{
    margin-left: 25%;
    margin-right: 25%;
}
#conteinerHead{
    padding: 2px;
    align-items: center;
    
}
#conteinerHead.row{
    color:red;
}.cajaConf{
    position: relative;
    display: inline-block;
}

.conf{
    position: absolute;
    color: white;
    top: 40%;
    right: 10%;
    text-align: right;
    font: size 4px;;
}
.linkOrador{
    color: white;
}
#oradores{
    text-align: center;
 }
.contenedorOradores{
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    
}
.colOrador{
    align-items: center;
    text-align: center;
  
}
.orador{
    color:black;
    font-weight: lighter;
    text-align: justify;
}
.card-body{
    text-align: left;
}

/*Nombres Oradores y Texto*/

.card-title{
    font-weight: bolder;
    text-align: left;
}

.card-text-oradores{
    font-weight: lighter;
    text-align: justify;
}
/*Nombres Playa y Texto*/
#imgPlaya{
    margin-top: 2%;
    color: white;
}

h6{
    text-align: center;
}

.card-body-text-imgPlaya{
    font-weight: lighter;
    padding-top: 2%;
}
.textoPlaya{
    padding-top: 2px;
}
.imagenPlaya{
    padding-right: 2%;
}
#foot{
   
    background: linear-gradient(darkblue,black);;
}
input:hover{
    background-color: aqua;
}
.comprarTickets{
    color:rgba(8, 252, 0, 0.788);
}
/*Contenedor Formulario*/

.contenedorFormulario{
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 2%;
}

.buttonFormulario{
    color: white !important;
    background-color: rgba(11, 112, 7, 0.788);
    
}
.buttonFormulario:hover{
    background: grey;
    color:rgba(11, 112, 7, 0.788) !important;
}
.select {
    margin-top: -10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
/*.buttonFormulario svg{
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left: 0;
    fill: none;
}
.buttonFormulario rect{
    width: 100%;
    height:100%;
    stroke: blue;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: .6s ease all;

}
.buttonFormulario:hover rect{
    stroke-dashoffset: 0;
}*/
.recuerda{
    font-weight: lighter;
    font-size: 15px;
}
th, td {
 
  padding: 1px 0px 1px 0px;
  text-align: center;
}
tr{
    color:white;
   font-size: 18px;
}

.btn-circle {
  
    border-radius: 50px;
    text-align: center;
    font-size: 5px;
  
}

