.cartas {
  padding: 2px 2px 2px 2px;
  align-items: center;
margin: 2%;
text-align: center;

}
.cartaEstudiante{
    border-color: blue;
}
.p.cartaEstudiante{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:blue;
    text-align: center;
    font-weight: 600;
}
.cartaTrainee{
    border-color: aqua;
}
.cartaJunior{
   
    border-color: yellow;
   
}
.p{
    color:blue;
}
.especial {
    color: red;
  }
  .lineaBotones{
    padding: 20px 0px 0px 0px;
  }
footer{
    margin-top: 5%;
}

.navFooter{
    margin-left: 25%;
    margin-right: 25%;
}
#conteinerHead{
    padding: 2px;
    align-items: center;
    
}
#conteinerHead.row{
    color:red;
}


